.profile__short-about {
  margin: 0;
  padding-top: 16px;
  font-size: 1.125rem;
  line-height: 1.36125rem;
  font-weight: 400;
  text-overflow: ellipsis;
  max-width: 85%;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 450px) {
  .profile__short-about {
  font-size: .875rem;
  line-height: 1.05875rem;
  text-align: center;
  }
}

