.popup__submit {
  width: 100%;
  min-height: 50px;
  margin: 18px auto 37px;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.36125rem;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 2px;
  color: #fff;
  background-color: #000;
}

.popup__submit:focus {
  outline: none;
}

.popup__submit:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .popup__submit {
    margin: 15px auto 25px;
    font-size: .875rem;
    line-height: 1.05875rem;
  }
}
